/*  */
/* Body Style */
body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

/* h1 Style */
h1{
    text-align: center;

}

/* Navigation Bar Styling */
.navbar ul{
    list-style: none;
    background-color: #333;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    justify-content: space-evenly;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #3498db;
    text-decoration: underline;

}
.navbar li{
    float: left;
}

/* Blog post styling */
.blog-post{
   max-width: 800px;
   margin: 20px auto;
   width: 100%;
   font-family: Arial, sans-serif;
   text-align: center;
   border: 1px solid;
   border-radius: 8px;

}