/* Body */
body {
    background-color: aquamarine;

}

h1 {
    text-align: center;
}

h3 {
    text-align: center;

}

.description {
    text-align: center;
    color: black;
    margin: auto;
    padding: 0%;
}

/* Filter buttons flexbox */

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgb(76, 84, 197);
    justify-content: center;
}

.filter-btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #0bd8ef;
    border-radius: 5px;
}
.filter-btn:hover {
    background-color: darkcyan;
}

.filter-btn.active {
    background-color: rgb(9, 212, 219);
    color: black;
}


/*Gallery layout */

.gallery {
   display: grid; 
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   padding: 20px;
   width: 90%;
   margin: auto;
   justify-content: center;
}

/* Image Layout */
img {
    display: flex;
    grid-template-columns: 4, 1fr;
    width: 300px;
    height: auto;
    border: 2px solid;
    border-radius: 8px;
    border-color: #159baa;
    overflow: hidden;

}

img:hover {
    transform: translate(-10px);
}

/* Responsive design for different screens */
@media (max-width: 768px) {
    .photo-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .photo-cards {
        grid-template-columns: 1fr;
    }
}
