* 
table{
    margin: 2;
    padding: 1;
    box-sizing: border-box;
}
/* Table Styling */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    
}
table, th, td {
    border: 2px solid black;
}
th, td {
    padding: 10px;
    text-align: justify;
}
th {
    background-color:white;
    color: white;
}

